/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 3, 2017, 1:22:55 PM
    Author     : NBC
*/




html{
       margin-left: 10%; margin-right: 10%;
    }
    
    

img{
       margin-top: 1%;
   }

body{
        background-color: #f2f2f2;
    }


 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    border-radius: 5px;
    }
    
    
   section{
      margin-bottom: 15px;
      padding:15px;
      padding-left: 30px;
      background-color: white;
      border-radius: 5px
  }
  
  i{
      color: silver;
  }
 
aside
{
    background-color: white;
    margin-bottom: 10px;
    margin-left: 10px;
    padding:14px;
    border-radius: 5px
}

footer
{
 
  padding: 2px;
  background-color:grey;
  border-radius: 5px;
  text-decoration: none;
}
a#git{
    color:red;
    margin-left:0px;
    text-decoration: none;
}
  
 li a{
    display: block;
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 14px 16px;
    
  }
  
  li a:hover
     {
       background-color: #20B2AA;
      }

@media screen and (max-width: 480px) {
  li{
      
      
    }
    
 li a{
    display: block;
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 14px 16px;
    
  }
  
  li a:hover
     {
       background-color: #20B2AA;
      }
 
}

@media screen and (min-width: 480px) and (max-width:900px) {
li{
        float: left;
    }
    .maincontent{
       width:100%; 
    }
    .aside{
        width:100%; 
    }
    footer
{
  
  
}

}
@media screen and (min-width: 900px) and (max-width:1500px) {
li{
        float: left;
    }
    .maincontent{
       width:70%; float:left; 
    }
    .aside{
        width:30%; float:left;
    }
     footer
{
  clear:both;
  
}

}